imap jk <ESC>
imap kj <ESC>

call plug#begin('~/.local/share/nvim/plugged')
Plug 'iCyMind/NeoSolarized'
Plug 'NLKNguyen/papercolor-theme'
Plug 'easymotion/vim-easymotion'
Plug 'SirVer/ultisnips'
Plug 'scrooloose/nerdcommenter'
Plug 'scrooloose/nerdtree'
Plug 'neomake/neomake'
Plug 'Shougo/deoplete.nvim'
Plug 'Shougo/denite.nvim'
Plug 'terryma/vim-multiple-cursors'
Plug 'itchyny/lightline.vim'
Plug 'artur-shaik/vim-javacomplete2', { 'for': 'java' }
call plug#end()

set encoding=utf-8
setglobal fileencoding=utf-8

set termguicolors
set background=light
colorscheme PaperColor

set tabstop=4
set shiftwidth=4
set expandtab

set number

set hidden

set updatetime=250

set wildmode=longest,list,full
let mapleader = ","

nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-k>k
nnoremap <C-l> <C-l>l
nnoremap <C-h> <C-h>h
nnoremap <C-q> <C-w>q

nnoremap <M-h> :bprev<CR>
nnoremap <M-l> :bnext<CR>
nnoremap <M-d> :bd<CR>

nnoremap <space> :noh<CR>

nnoremap <leader>e :lopen<CR>

nnoremap <leader>m :Neomake<CR>

nnoremap <leader>f :Denite file_rec<CR>

nnoremap <leader>s viwy:w !thesaurus <C-r>"<CR>

nnoremap <C-e> :NERDTreeToggle<CR>

let g:tex_flavor = "latex"

let g:deoplete#enable_at_startup = 1

let g:lightline = { 'colorscheme': 'PaperColor' }

let g:UltiSnipsSNippetsDir="UltiSnips"
let g:UltiSnipsExpandTrigger="<tab>"
let g:UltiSnipsEditSplit="vertical"

au filetype tex set tw=80

au filetype java set shiftwidth=2
