imap jk <ESC>
imap kj <ESC>

call plug#begin('~/.local/share/nvim/plugged')
Plug 'NLKNguyen/papercolor-theme'
Plug 'itchyny/lightline.vim'
Plug 'tpope/vim-fugitive'
Plug 'easymotion/vim-easymotion'
Plug 'SirVer/ultisnips'
Plug 'scrooloose/nerdcommenter'
Plug 'Shougo/deoplete.nvim'
Plug 'Shougo/denite.nvim'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-surround'
Plug 'rust-lang/rust.vim', { 'for': 'rust' }
Plug 'racer-rust/vim-racer', { 'for': 'rust' }
call plug#end()

set encoding=utf-8
setglobal fileencoding=utf-8

set termguicolors
set background=light
colorscheme PaperColor

set tabstop=4
set shiftwidth=4
set expandtab

set number

set hidden

set updatetime=250

set wildmode=longest,list,full
let mapleader = ","

nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l
nnoremap <C-h> <C-w>h
nnoremap <C-q> <C-w>q

nnoremap <M-h> :bprev<CR>
nnoremap <M-l> :bnext<CR>
nnoremap <M-d> :bd<CR>

nnoremap <space> :noh<CR>

nnoremap <C-+> <C-]>

nnoremap <leader>q :copen<CR>
nnoremap <leader>b :make build<CR>

nnoremap <leader>f :Denite file_rec<CR>

let g:deoplete#enable_at_startup = 1

let g:lightline = { 'colorscheme': 'PaperColor' }

let g:UltiSnipsSNippetsDir="UltiSnips"
let g:UltiSnipsExpandTrigger="<tab>"

au filetype java set shiftwidth=2

au filetype rust compiler cargo
